.Dictionary h1{
    text-align: center;
    color: blueviolet;
    margin-bottom: 30px;
    font-weight: bold;
}

.Dictionary section{
    background-color: rgba(221, 221, 221, 0.226);
    padding:30px;
    border-radius: 6px;
    margin: 20px 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border: 1px solid #dee2e6!important;
    
}

.Dictionary p {
  text-align: center;
  color: blueviolet;
  font-size: 18px;
  font-weight: bold;
}
.Dictionary form {
  text-align: center;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 5px 5px;
  border: 1px solid #ddd;
}

.padding0 {
  padding: 0px;
}
