.Meaning {
  line-height: 2;
}

.Meaning h3 {
  color: blueviolet;
  text-align: center;
}

.Meaning .examles {
  color: blueviolet;
  font-style: italic;
  display: block;
  text-align: center;
}

.Meaning .definitionNumber {
  font-weight: bold;
  text-indent: 2em;
}
